.form-edit {
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: left;
}
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000; /* Asegúrate de que sea alto */
}
label {
    font-weight: bold;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.btn-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.btn-cancel, .btn-save,.btn-danger {
    border: none;
    padding: 12px 18px;
    font-size: 14px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background 0.3s ease-in-out, transform 0.1s ease-in-out;
}

.btn-cancel {
    background: #6c757d;
    color: white;
}

.btn-cancel:hover {
    background: #545b62;
    transform: scale(1.05);
}

.btn-save {
    background: #28a745;
    color: white;
}

.btn-save:hover {
    background: #218838;
    transform: scale(1.05);
}
.btn-danger {
    background: #f10e0e;
    color: white;
}
.btn-danger:hover {
    background: #f10e0e9e;
    transform: scale(1.05);
}
.btn-icon {
    margin-right: 8px;
    font-size: 16px;
}
