.main-features {
    width: 100%;
    padding-block: 30px;
    display: flex;
    justify-content: center;
    background-color: var(--color-terciario);
}

.feat-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    width: 100%;
    margin: 10px;
    padding-inline:15px;
}

.card-category.ft {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: linear-gradient(190deg, var(--color-hoverlinks) -50%, var(--color-terciario) 50%);
    border-radius: var(--border-radius);
    transition: transform 0.3s ease;
    padding: 10px;
}

.card-category.ft:hover {
    transform: translateY(-10px);
    background: linear-gradient(190deg, #A2B2EE, #5F7ADB);
}

.card-category.ft:hover strong {
    color: var(--color-principal);
}
.icon-card-cat {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
.icon-card-cat img {
    height: 100%;
    width: 100px;
    object-fit: contain;
    filter: drop-shadow(6px 6px 6px var(--color-principal));
}

.body-card-cat {
    text-align: center;
}

.body-card-cat h4 {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

@media screen and (width > 780px) {
    .feat-container {
        grid-template-columns: repeat(3, 1fr);
        width: 70%;
        margin-inline: 0;
    }
}