.login-form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid var(--color-principal);
    border-radius: 8px;
    background-color:var(--color-terciario);
     box-shadow: 0 0 50px  rgba(0, 0, 0, 0.5);
  }
  .subtitle {
    text-align: center;
    margin-bottom: 20px;
  }
  .input-group-lg {
    margin: 10px 0 5px;
  }
  
  .input-group-lg input {
    width: 100%;
    padding: 10px;
    background-color:var(--color-secundario);;
    border: 1px solid var(--color-secundario);
    border-radius: 4px;
    color: var(--color-text)
  }
  
  .error {
    color: red;
    font-size: 14px;
  }
  
  .login-button {
    width: 100%;
    padding: 10px;
    background-color: var(--color-hoverlinks);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px 0;
  }
  
  .login-button:hover {
    background-color: #0056b3;
  }

  
  .register-link {
    margin-top: 15px;
    font-size: 14px;
    text-align: center;
    color: #ccc;
  }
  
  .register-link a {
    color: #9f7aea;
    text-decoration: none;
  }
  
  .register-link a:hover {
    text-decoration: underline;
  }
 